.App {
  text-align: center;
  height: 100vh;
}

.toggleBtn {
  width: 150px;
  background: #BFEBD5 !important;
  color: #333 !important;
  border: 1px solid #333 !important;
}

.logo {
  margin-left: 50px;
}
